.wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
}

.input::placeholder {
    color: white;
}